.cursor
{
cursor:pointer
}/* CSS Document */

.logintable
{
width:350px;height:247px;border-color:#666666;text-align:center;margin-left:430px;
}
.ulogin
{
height:50px;border:#FFFFFF;background:#C3C3C3;border:#F4F4F4;
}